{{>templates/header}}
  <div class="pag-i">
            <div class="about-row anime">
                <div class="about-col">
                    <div class="image">
                        <img class="img1" src="assets/images/about/about1.jpg" alt="">
                    </div>
                </div>
                <div class="about-col">
                    <div class="about-title">
                        <h3>Descubra mais</h3>
                        <h1>Somos a equipe Onflow,</h1>
                    </div>
                    <div class="about-info">
                        <p>presentes no mercado a mais de 15 anos, conhecidos pela excelência dos nossos serviços,
                            atendemos varias marcas consideradas lideres no seu segmento.Unimos várias equipes para
                            sempre trazer novidades tecnológicas e soluções para oferecer o melhor produto possível, com
                            facilidade de uso e qualidade.</p>
                    </div>
                </div>
            </div>
        </div>
{{>templates/footer}}