{{>templates/header}}
 <div class="pag-i container anime">
            <div class="list-equipment">
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento1.jpg" alt="">
                    <button class="activeRed">Cinebox Maestro</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento2.jpg" alt="">
                    <a href="https://mega.nz/folder/6gsBHZ7L#wH_hX5O03z9NA9175Dr4wA/file/2ttVXYJY">
                      <button>Cinebox max plus</button>
                    </a> 
                </div>
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento3.jpg" alt="">
                    <button>Cinebox fantasia Maxx</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento4.jpg" alt="">
                    <button>Cinebox fantasia Maxx X2</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento5.jpg" alt="">
                    <button>Cinebox Supremo X2</button>
                </div>

                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento6.jpg" alt="">
                    <a target="_black" href="https://mega.nz/folder/6gsBHZ7L#wH_hX5O03z9NA9175Dr4wA/file/ep8XCABI">
                       <button>Cinebox Supremo Plus</button>
                    </a>
                </div>
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento7.jpg" alt="">
                     <a target="_black" href="https://mega.nz/folder/6gsBHZ7L#wH_hX5O03z9NA9175Dr4wA/file/jskDAA5C">
                      <button>Cinebox Optimo</button>
                    </a>
                </div>
                <div class="logo-equipment">
                    <img src="assets/images/cinebox.png" alt="Cinebox" style="width: 100%;">
                </div>
                
                <div class="equipment">
                    <img src="assets/images/cinebox/equipamento8.jpg" alt="">
                    <button>Cinebox Supremo X2</button>
                </div>
            </div>
        </div>
{{>templates/footer}}