{{>templates/header}}
  <div class="pag-i container">
            <div class="list-download">
                <div class="download anime">
                    <img src="assets/images/download/pngwing.com.png" alt="">
                    <a target="_blank" href="https://www.mediafire.com/file/6hwjhp5szne7ier/Onflowgo_Prime_Celular_Tablet_v1.6.2.apk/file">
                        <button>Celular Mobile 1.6.3 MediaFire</button>
                    </a>
                </div>
                <div class="download anime">
                    <img src="assets/images/download/android2.avif" alt="">
                    <a target="_blank" href="https://www.mediafire.com/file/n94wymgqgs1lwlu/Onflowgo_Prime_AndroidTv_v1.6.3.apk/file">
                        <button>Android TV 1.6.3 MediaFire</button>
                    </a>
                </div>
                <div class="download anime">
                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=236,h=157,fit=crop/mnl5rZQjvVi417wo/chromecast-logo-YBg4O8RWQaIx6Wj4.png" alt=" download chromecast" style="width: 300px">
                    <a target="_blank" href="https://www.mediafire.com/file/3nyjxzyo2r7xtp5/Onflowgo_Prime_Chromecast_v1.6.3.apk/file">
                        <button>Chromecast Mobile 1.6.3 MediaFire</button>
                    </a>
                </div>
                <div class="download anime">
                    <img src="assets/images/download/tv-box.png" alt="tv-box">
                    <a target="_blank" href="https://www.mediafire.com/file/wxnah4aum3t3m5s/Onflowgo_Prime_AndroidBox_v1.6.3.apk/file">
                        <button>TVbox Mobile 1.6.3 MediaFire</button>
                    </a>
                </div>
                <div class="download anime">
                    <img src="assets/images/download/firetv.png" alt="tv-box">
                    <a target="_blank" href="https://www.mediafire.com/file/kfy0ufaeoigip1c/Onflowgo_Prime_Amazon_Firestick_v1.6.3.apk/file">
                        <button>Fire 1.6.3 MediaFire</button>
                    </a>
                </div>
                <div class="download anime">
                    <img src="assets/images/download/tablet.png" alt="Tablet">
                    <a target="_blank" href="https://www.mediafire.com/file/6hwjhp5szne7ier/Onflowgo_Prime_Celular_Tablet_v1.6.2.apk/file">
                        <button>Tablet 1.6.3 MediaFire</button>
                    </a>
                </div>
            </div>
        </div>
{{>templates/footer}}