{{>templates/header}}
<div class="pag-i container anime">
            <div class="list-equipment">
                <div class="equipment">
                    <img src="assets/images/duosat/equipamento1.jpg" alt="Space">
                    <button class="activeRed">Duosat Legacy HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/duosat/equipamento2.jpg" alt="Space">
                    <button class="activeRed">Duosat Puse Ultra HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/duosat/equipamento3.jpg" alt="Space">
                    <button class="activeRed">Neonsat Colors Full HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/duosat/equipamento4.jpg" alt="Space">
                    <button class="activeRed">Duosat Next</button>
                </div>
               <div class="equipment">
                    <img src="assets/images/duosat/equipamento5.jpg" alt="Space">
                    <button class="activeRed">Duosat Generation HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/duosat/equipamento6.jpg" alt="Space">
                    <button class="activeRed">Duosat Maxx HD</button>
                </div>
                 <div class="equipment">
                    <img src="assets/images/duosat/equipamento8.webp" alt="Space">
                    <button class="activeRed">Duosat Blade Go</button>
                </div>
            </div>
        </div>
    
{{>templates/footer}}