{{>templates/header}}
<div class="banner-group container">
    <div class="banner-info-row anime">
        <div class="banner-info-col banner-1">
            <div class="text-info">
                <div class="text-info-group">
                    <h1>Portabilidade acima <span>de tudo...</span></h1>
                    <div class="text-p-button">
                        <p>A mais de 15 anos, conhecidos pela excelência dos nossos serviços,
                          atendemos varias marcas
                          consideradas lideres no segmento.
                        </p>
                        <a class="button-link hover-red" href="/onflowgosystem">Saiba mais</a>
                    </div>
                </div>
                    </div>
                </div>
                <div class="banner-info-col">
                    <div class="gradient">
                        <div class="link-group">
                            <a class="button-link border hover-black" href="/vendas">Contate um vendedor</a>
                            <div class="retangulo"></div>
                        </div>
                        <div class="image-i">
                            <img src="assets/images/home-banner-background12-YrDNqWZKVDcn9j25.avif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="pag-i container anime">
                <div class="pag-i-title">
                    <h1>Filmes</h1>
                </div>
                <div class="filmes-row">
                    <div class="filmes-col anime">
                      <div class="filmes-group">
                         <img src="assets/images/support3.avif" alt="Suporte prime">
                         <div class="filmes-button">
                            <a class="button-link green" href="/onflowgoprime">Saiba mais</a>
                         </div>
                      </div>
                    </div>
                    <div class="filmes-col anime">
                      <div class="filmes-group">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=400,h=267,fit=crop/mnl5rZQjvVi417wo/onflow-go-system-logo-YrDXnMa2gqFQqWRk.png"
                          alt="Suporte system">
                          <div class="filmes-button">
                            <a class="button-link green" href="/onflowgosystem">Saiba mais</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="pag-i container">
               <div class="support-row anime">
                    <div class="support-col">
                        <div class="support-image"></div>
                    </div>
                    <div class="support-col">
                        <div class="support-text">
                            <h1>Precisa de ajuda?</h1>
                            <h3>Temos um suporte especializado para você!</h3>
                            <div class="link-x">
                                <p>Suporte Onflowgo System IKS-SKS</p>
                                <a href="">
                                    <button>Suporte Telegram</button>
                                </a>
                            </div>
                            <div class="link-x">
                                <p>Suporte Onflowgo System IKS-SKS</p>
                                <a href="">
                                    <button>Suporte Telegram</button>
                                </a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </section>
    
    {{>templates/footer}}
   