  {{>templates/header}}
  <div class="pag-i container anime">
                <div class="device-model-row">
                    <div class="device-model-col">
                        <div class="model-tables">
                            <div class="model-tables-title">
                                <h2>Encontre seu aparelho.</h2>
                            </div>
                            <div class="tables-item">
                                <div>
                                    <div class="category red">
                                        <p>Cinebox</p>
                                    </div>
                                    <table>
                                        <tr>
                                            <th>Modelo</th>
                                            <th>Tuner</th>
                                            <th>IKS</th>
                                            <th>63W</th>
                                            <th>75W</th>
                                            <th>VOD</th>
                                            <th>APP celular</th>
                                        </tr>
                                        <tr>
                                            <td>Optimo+</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Fantasia x2</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Maxx+</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Optimo+</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Optimo X2</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Optimo X</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Fantasia Maxx V2</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Extremo Z2</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Extremo Z</td>
                                            <td>3</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Supremo Z</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Power Z (no info)</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Power Q</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Power X</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Maximus Z</td>
                                            <td>3</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tables-item">
                                <div>
                                    <div class="category yellow">
                                        <p>Neosat</p>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>Optimo+</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Fantasia x2</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Maxx+</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Optimo+</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Optimo X2</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tables-item">
                                <div>
                                    <div class="category blue">
                                        <p>Duosat</p>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>Balck Series</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Troy HD</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Trend HD</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Trend HD Maxx</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Trend HD G</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Blade Duol Core</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Wave HD</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Troy HD S</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Prodgy HD nano</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Prodgy HD Nano</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Twist HD </td>
                                            <td>3</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Prodgy Limited</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Maxx HD</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Troy HD</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Troy HD Legacy</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                        <tr>
                                            <td>Trend S</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tables-item">
                                <div>
                                    <div class="category yellow-2">
                                        <p>Tuning</p>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>Tuning Up</td>
                                            <td>2</td>
                                            <td>Sim</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                            <td>Não</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="device-model-col">
                       <div class="model-logos">
                           <div class="logos-group">
                               <img src="assets/images/visionsat.png" alt="">
                               <div class="buttons-i">
                                  <a target="_blank" href="/visionsat">
                                      <button class="activeRed">Visionsat</button>
                                   </a>
                               </div>
                           </div>
                           <div class="logos-group">
                               <img src="/assets/images/cinebox.png" alt="Cinebox">
                               <div class="buttons-i">
                                   <a target="_blank" href="/cinebox">
                                        <button class="activeBlue">Cinebox</button>
                                   </a>
                               </div>
                           </div>
                           <div class="logos-group">
                               <img src="/assets/images/neonsat.png" alt="Cinebox">
                               <div class="buttons-i">
                                    <a target="_blank" href="/neonsat">
                                        <button class="activeRed">Neonsat</button>
                                    </a>
                               </div>
                           </div>
                           <div class="logos-group">
                               <img src="assets/images/duosat.jpg" alt="">
                               <div class="buttons-i">
                                    <a target="_blank" href="/duosat">
                                        <button class="activeRed">Duosat</button>
                                    </a>
                               </div>
                           </div>
                        <div class="logos-group">
                               <div class="buttons-i">
                                    <a target="_blank" href="/tuning">
                                        <button class="activeRed">Tuning</button>
                                    </a>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            {{>templates/footer}}