{{>templates/header}}
  <div class="pag-i container anime">
            <div class="list-equipment">
                <div class="equipment">
                    <img src="assets/images/neonsat/equipamento1.jpg" alt="Space">
                    <button class="activeRed">Neonsat Ultimate</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/neonsat/equipamento2.jpg" alt="Space">
                    <button class="activeRed">Neonsat Colors HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/neonsat/equipamento3.jpg" alt="Space">
                    <button class="activeRed">Neonsat Colors Full HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/neonsat/equipamento4.jpg" alt="Space">
                    <button class="activeRed">Neonsat Colors HD</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/neonsat/equipamento5.jpg" alt="Space">
                    <button class="activeRed">Neonsat Colors Tron</button>
                </div>
               
                
            </div>
        </div>
{{>templates/footer}}