{{>templates/header}}
 <div class="pag-i container anime">
   <div class="system-onflowgo">
      <div class="system-onflowgo-row">
          <div class="system-onflowgo-col">
             <img src="assets/images/support3.avif" alt="Suporte prime">
          </div>

          <div class="system-onflowgo-col">
             <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=320,fit=crop/mnl5rZQjvVi417wo/onflowprimeprice-A854zP58NoS9X1gr.jpeg" alt=""/>
          </div>
      </div>
        <div class="system-onflowgo-buttons">
            <a href="/vendas">Escola seu vendedor</a>
            <a href="/atacado">ATACADO</a>
        </div>
        <div class="system-onflowgo-text">
            <h3> Os recursos de filmes e séries de TV mais recentes e populares estão 
            todos no app Onflowgo prime, além de possuir centos de canais ao vivo na área 
            de IPTV e você pode assistir tudo desde seu celular, box ou smart tv Como
            plataforma de streaming de mídia, não há apenas um grande número de
            recursos do programa, mas também filmes e animações para crianças, conteúdo
            adulto e a opção Playback, onde muitos canais terão a programação gravada para
            acesso posterior por horários, estas gravações nas nuvens ficarão disponíveis
            para acesso pelo período de 7 dias.</h3>
            <h3>Baixe agora o APK Onflowgo Prime e desfrute!</h3>
        </div>
   </div>
 </div>

{{>templates/footer}}