{{>templates/header}}
 <div class="pag-i container anime">
   <div class="system-onflowgo">
      <div class="system-onflowgo-row">
          <div class="system-onflowgo-col">
             <img src="assets/images/support3.avif" alt="Suporte prime">
          </div>

          <div class="system-onflowgo-col">
              <div class="system-onflowgo-info-row">
                   <div class="system-onflowgo-info-col">
                       <p>Valor unitário mensal <span>fixo</span> em reais</p>
                       <p class="price"><span>R$</span> 25,00</p>
                   </div>
                    <div class="system-onflowgo-info-col">
                       <p>Valor unitário anual <span>fixo</span> em reais</p>
                       <p class="price"><span>R$</span> 128,00</p>
                   </div>
              </div>
          </div>
      </div>
        <div class="system-onflowgo-buttons">
            <a href="/vendas">Escola seu vendedor</a>
            <a href="/atacado">ATACADO</a>
        </div>

        <div class="system-onflowgo-text">
            <h3> Sistema já bastante conhecido no mercado, atendemos várias marcas de ponta 
             com o nosso serviço, agora iniciamos o projeto para poder atender as diversas
             pessoas que ficaram sem o serviço, agora você poderá desfrutar da estabilidade
             do nosso serviço sem depender de marcas, os sistemas são IKS/SKS para a maioria
             de modelos que iremos suportar, outros modelos mais velhos podem conter somente
             o sistema via internet, pela limitação de hardware.</h3>
            <h3>Seja bem vindo ao sistema mais moderno e acreditado no mercado, seja bem vindo a ONFLOWGO System!</h3>
        </div>
   </div>
 </div>

{{>templates/footer}}