{{>templates/header}}
 <div class="pag-i container">
            <div class="sales">
                <div class="sales-title">
                    <h3>Varejo</h3>
                    <p>Selecione um vendedor abaixo</p>
                </div>
                <div class="sales-list anime">
                    <div class="contact">
                        <img src="assets/images/sales/pngwing.com (1).png" alt="">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Osmar</a>
                    </div>

                    <div class="contact">
                        <img src="assets/images/sales/user.png" alt="">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Luciano</a>
                    </div>

                    <div class="contact">
                        <img src="assets/images/sales/user2.png" alt="" style="width: 80px;">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Rosana</a>
                    </div>

                    <div class="contact">
                        <img src="assets/images/sales/user.png" alt="user">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Jonathan</a>
                    </div>

                    <div class="contact">
                        <img src="assets/images/sales/pngwing.com (1).png" alt="user">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Osmar</a>
                    </div>
                    <div class="contact">
                        <img src="assets/images/sales/user2.png" alt="user" style="width: 80px;">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Josefa</a>
                    </div>
                    <div class="contact">
                        <img src="assets/images/sales/user.png" alt="user" >
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Ricardo</a>
                    </div>
                    <div class="contact">
                        <img src="assets/images/sales/pngwing.com (1).png" alt="user">
                        <img class="absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp">
                        <a href="">Luiz</a>
                    </div>
                </div>
            </div>
        </div>

{{>templates/footer}}