{{>templates/header}}
  <div class="pag-i container">
            <div class="support-row anime">
                <div class="support-col">
                    <div class="image">
                    </div>
                </div>
                <div class="support-col">
                    <div class="support-i">
                        <a target="_blank" href="https://web.telegram.org/a/">
                            <div class="support-link">
                                <img src="assets/images/support3.avif" alt="Suporte prime">
                            </div>
                        </a>
                        <a target="_blank" href="https://web.telegram.org/a/">
                            <div class="support-link">
                                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=400,h=267,fit=crop/mnl5rZQjvVi417wo/onflow-go-system-logo-YrDXnMa2gqFQqWRk.png"
                                    alt="Suporte system">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{{>templates/footer}}