{{>templates/header}}
    <div class="pag-i container anime">
            <div class="list-equipment">
                <div class="equipment">
                    <img src="assets/images/tuning/tuning_up.jfif" alt="Space">
                    <button class="activeRed">Tuning UP</button>
                </div>
                <div class="equipment">
                    <img src="assets/images/tuning/tuning_P911.jpg" alt="Space">
                    <button class="activeRed">Tuning P911</button>
                </div>  
            </div>
        </div>
{{>templates/footer}}