{{>templates/header}}
<div class="pag-i container">
            <div class="list-equipment">
                <div class="logo-equipment">
                    <img src="assets/images/visionsat.png" alt="Cinebox" style="width: 100%;">
                </div>
                <div class="equipment">
                    <img src="assets/images/visionsat/equipamento2.jpg" alt="Space">
                    <a href="https://www.mediafire.com/file/b7moerjt4k04b2f/SpaceHD_26112024_V202.zip/file">
                      <button class="activeRed">Space</button>
                    </a>
                </div>
                <div class="equipment">
                    <img src="assets/images/visionsat/equipamento3.jpg" alt="Space">
                    <a target="_black" href="https://www.mediafire.com/file/b7moerjt4k04b2f/SpaceHD_26112024_V202.zip/file">
                      <button class="activeRed">Play HD</button>
                    </a>
                </div>
            </div>
        </div>
{{>templates/footer}}