{{>templates/header}}
 <div class="pag-i container">
    <div class="wholesale">
       <div class="wholesale-title anime">
           <h1>Distribuidores Atacado System</h1>
       </div>
       <div class="wholesale-row anime">
           <div class="wholesale-col">
                <img class="logo-system" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=400,h=267,fit=crop/mnl5rZQjvVi417wo/onflow-go-system-logo-YrDXnMa2gqFQqWRk.png" alt="onflowgo-system-logo"/>
                <div class="contact-list">
                   <div class="contact">
                     <div class="contact-image">
                        <img class="image-i" src="assets/images/sales/user.png" alt=""/>
                        <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                      </div>
                      <p>Lucas - Whatsapp</p>
                   </div>
                    <div class="contact">
                       <div class="contact-image">
                         <img class="image-i" src="assets/images/sales/user2.png" alt="" style="width: 100px;"/>
                         <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                        </div>
                        <p>Rosana - Whatsapp</p>
                    </div>

                    <div class="contact">
                     <div class="contact-image">
                        <img class="image-i" src="assets/images/sales/user2.png" alt="" style="width: 100px;"/>
                        <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                      </div>
                      <p>Yasmin - Whatsapp</p>
                     </div>
                    <div class="contact">
                     <div class="contact-image">
                        <img class="image-i" src="assets/images/sales/pngwing.com (1).png" alt=""/>
                        <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                      </div>
                      <p>Jonatham - Whatsapp</p>
                   </div>
               </div>
           </div>
           <div class="wholesale-col">
                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=328,h=515,fit=crop,trim=83.62976406533575;95.30266343825666;0;104.60048426150121/mnl5rZQjvVi417wo/onflowgo-system-site-tab-mxB7v3Ge39HPWDRq.png" alt="onflowgo-system-logo"/>  
           </div>
        </div>
        <div class="wholesale-download anime">
            <p>Clique abaixo para fazer o download do Manual</p>
            <a target="_blank" href="https://mega.nz/file/BWRUgboD#RnK8aMAZ_TkE2ORGOFdlcUM6PrQOV_spR5ydLXSTFYQ">Onflow system Manual Revenda</a>
        </div>
        <div class="wholesale-row anime">
           <div class="wholesale-col">
                <img class="logo-system" src="assets/images/support3.avif" alt="onflowgo-system-logo"/>
                <div class="contact-list">
                   <div class="contact">
                     <div class="contact-image">
                        <img class="image-i" src="assets/images/sales/user.png" alt=""/>
                        <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                      </div>
                      <p>Lucas - Whatsapp</p>
                   </div>
                    <div class="contact">
                       <div class="contact-image">
                         <img class="image-i" src="assets/images/sales/user2.png" alt="" style="width: 100px;"/>
                         <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                        </div>
                        <p>Rosana - Whatsapp</p>
                    </div>
                    <div class="contact">
                     <div class="contact-image">
                        <img class="image-i" src="assets/images/sales/user2.png" alt="" style="width: 100px;"/>
                        <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                      </div>
                      <p>Yasmin - Whatsapp</p>
                    </div>
                    <div class="contact">
                     <div class="contact-image">
                        <img class="image-i" src="assets/images/sales/pngwing.com (1).png" alt=""/>
                        <img class="contact-absolute" src="assets/images/sales/icons8-whatsapp-48.png" alt="whatsapp"/>
                      </div>
                      <p>Jonatham - Whatsapp</p>
                   </div>
               </div>
           </div>
           <div class="wholesale-col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRco5G4sLOxA9Xu8gaCYagzYV2QPCFCbvkOgQ&s" alt="onflowgo-prime-logo"/>
           </div>
        </div>
    </div>
 </div>
{{>templates/footer}}