 <footer>
            <div class="footer-row anime">
                <p>Siga-nos</p>
                <div class="networks">
                    <p>Rede social</p>
                    <div class="networks-links">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://x.com/?mx=2" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.tiktok.com/explore" target="_blank">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        </div>
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/anime-scroll.js"></script>
</body>

</html>