<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="icon" href="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=386,fit=crop,q=95/mnl5rZQjvVi417wo/onflow-go-logo-dJoJD51lWPt09L7x.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Sora:wght@200;300;500;600&family=Tektur:wght@500;800&display=swap"
        rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<div class="page">
        <nav>
            <div class="nav-group container">
                <a href="/">
                    <div class="logotipo">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=386,fit=crop,q=95/mnl5rZQjvVi417wo/onflow-go-logo-dJoJD51lWPt09L7x.png"
                            alt="">
                    </div>
                </a>
                <ul id="nav-url">
                    <li><a  
                    {{#home}}
                        class="active"
                    {{/home}}
                    href="/">Home</a>
                    </li>
                    <li><a 
                     {{#model}}
                       class="active"
                      {{/model}} 
                    href="/modelos">Modelos</a></li>
                    <li><a
                    {{#download}}
                      class="active"
                    {{/download}}
                     href="/downloads"
                     >Donwload</a></li>
                    <li><a 
                      {{#about}}
                        class="active"
                      {{/about}}
                      href="/sobrenos"
                    >Sobre nós</a></li>
                    <li><a 
                      {{#support}}
                        class="active"
                      {{/support}}
                        href="/suporte"
                     >Suporte</a></li>
                    <li><a
                      {{#sale}}
                        class="active"
                      {{/sale}}
                     href="/vendas"
                     >Vendas</a></li>
                </ul>
                <input type="checkbox" id="check-option" />
                <label class="label-nav" for="check-option">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </nav>